#side-nav-contenedor {
    height: 100hv;
    background-color: #ccccff;
}
#app-info > h2, #app-info > h4 {
    text-align: center;
}
#app-info > h2 {
    text-shadow: 1px 1px #999999;
}
#botonera {
    margin-top: 30px;
}
#botonera > button {
    width: 100%;
    margin: 1px;
}
.boton-gestion {
    background-color: #ffcc66;
}