<div id="side-nav-contenedor">
  <div id="app-info">
      <h2>FONASA DEMO</h2>
      <h4>Gestión de consultas</h4>
  </div>
  <div class="linea-division-horizontal"></div>
  <div id="botonera">
    <button mat-button routerLink="/ingresarUsuario">Ingresar paciente</button>
    <button mat-button routerLink="/pacientesEspera">Pacientes en espera</button>
    <!--<button mat-button routerLink="/pacientesMayorRiesgo">Pacientes de mayor riesgo</button>-->
    <button mat-button routerLink="/pacientesSeleccion">Pacientes de mayor riesgo</button>
    <button mat-button routerLink="/pacientesFumadores">Pacientes fumadores urgentes</button>
    <button mat-button routerLink="/consultaAtendidos">Consulta más pacientes atendidos</button>
    <button mat-button routerLink="/pacienteAnciano">Paciente más anciano</button>
    <button mat-button routerLink="/atenderPacientes" class="boton-gestion">Atender pacientes</button>
    <button mat-button routerLink="/liberarConsultas" class="boton-gestion">Liberar consultas</button>
  </div>
</div>
