<div id="consulta-mpa-contenedor">
  <h3>Consulta Con Más Pacientes Atendidos</h3>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- idConsulta Column -->
    <ng-container matColumnDef="idConsulta">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.idConsulta}} </td>
    </ng-container>
  
    <!-- cantPacientes Column -->
    <ng-container matColumnDef="cantPacientes">
      <th mat-header-cell *matHeaderCellDef> Cant. Pacientes </th>
      <td mat-cell *matCellDef="let element"> {{element.cantPacientes}} </td>
    </ng-container>
  
    <!-- nombreEspecialista Column -->
    <ng-container matColumnDef="nombreEspecialista">
      <th mat-header-cell *matHeaderCellDef> Especialista </th>
      <td mat-cell *matCellDef="let element"> {{element.nombreEspecialista}} </td>
    </ng-container>
  
    <!-- tipoConsulta Column -->
    <ng-container matColumnDef="tipoConsulta">
      <th mat-header-cell *matHeaderCellDef> Tipo </th>
      <td mat-cell *matCellDef="let element"> {{element.tipoConsulta}} </td>
    </ng-container>

    <!-- estado Column -->
    <ng-container matColumnDef="estado">
      <th mat-header-cell *matHeaderCellDef> Estado </th>
      <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
    </ng-container>

    <!-- idHospital Column -->
    <ng-container matColumnDef="idHospital">
      <th mat-header-cell *matHeaderCellDef> ID Hospital </th>
      <td mat-cell *matCellDef="let element"> {{element.idHospital}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnas"></tr>
    <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
  </table>
</div>
