#seleccione-paciente-contenedor {
    width: 1050px;
    padding: 0 10px;
}
table {
    width: 100%;
}
td.mat-cell {
    font-size: 12px;
}
.numero-historia {
    cursor: pointer;
}
tr:hover { 
    background-color: #e6e6e6;
}