<div id="pacientes-fu-contenedor">
  <h3>Pacientes Fumadores Urgentes</h3>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- idPaciente Column -->
    <ng-container matColumnDef="idPaciente">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.idPaciente}} </td>
    </ng-container>
  
    <!-- nombre Column -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
    </ng-container>
  
    <!-- edad Column -->
    <ng-container matColumnDef="edad">
      <th mat-header-cell *matHeaderCellDef> Edad </th>
      <td mat-cell *matCellDef="let element"> {{element.edad}} </td>
    </ng-container>
  
    <!-- historiaClinica Column -->
    <ng-container matColumnDef="nhistoriaClinica">
      <th mat-header-cell *matHeaderCellDef> Hist. Clínica </th>
      <td mat-cell *matCellDef="let element"> {{element.nhistoriaClinica}} </td>
    </ng-container>

    <!-- idHospital Column -->
    <ng-container matColumnDef="idHospital">
      <th mat-header-cell *matHeaderCellDef> ID Hospital </th>
      <td mat-cell *matCellDef="let element"> {{element.idHospital}} </td>
    </ng-container>

    <!-- tieneDieta Column -->
    <ng-container matColumnDef="tieneDieta">
      <th mat-header-cell *matHeaderCellDef> Dieta </th>
      <td mat-cell *matCellDef="let element"> {{element.tieneDieta}} </td>
    </ng-container>

    <!-- relacionPesEst Column -->
    <ng-container matColumnDef="relacionPesEst">
      <th mat-header-cell *matHeaderCellDef> Peso-Est. </th>
      <td mat-cell *matCellDef="let element"> {{element.relacionPesEst}} </td>
    </ng-container>

    <!-- fumador Column -->
    <ng-container matColumnDef="fumador">
      <th mat-header-cell *matHeaderCellDef> Fumador </th>
      <td mat-cell *matCellDef="let element"> {{element.fumador}} </td>
    </ng-container>

    <!-- aniosFumador Column -->
    <ng-container matColumnDef="aniosFumador">
      <th mat-header-cell *matHeaderCellDef> Años fuma. </th>
      <td mat-cell *matCellDef="let element"> {{element.aniosFumador}} </td>
    </ng-container>

    <!-- prioridad Column -->
    <ng-container matColumnDef="prioridad">
      <th mat-header-cell *matHeaderCellDef> Prioridad </th>
      <td mat-cell *matCellDef="let element"> {{element.prioridad | number}} </td>
    </ng-container>

    <!-- riesgo Column -->
    <ng-container matColumnDef="riesgo">
      <th mat-header-cell *matHeaderCellDef> Riesgo </th>
      <td mat-cell *matCellDef="let element"> {{element.riesgo | number}} </td>
    </ng-container>

    <!-- fechaLlegada Column -->
    <ng-container matColumnDef="fechaLlegada">
      <th mat-header-cell *matHeaderCellDef> Fecha Llegada </th>
      <td mat-cell *matCellDef="let element"> {{element.fechaLlegada | date:'shortTime'}} </td>
    </ng-container>

    <!-- fueAtendido Column -->
    <ng-container matColumnDef="fueAtendido">
      <th mat-header-cell *matHeaderCellDef> Atendido </th>
      <td mat-cell *matCellDef="let element"> {{element.fueAtendido}} </td>
    </ng-container>

    <!-- idConsulta Column -->
    <ng-container matColumnDef="idConsulta">
      <th mat-header-cell *matHeaderCellDef> ID Consulta </th>
      <td mat-cell *matCellDef="let element"> {{element.idConsulta}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="columnas"></tr>
    <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
  </table>
</div>
