<div id="ingreso-paciente-contenedor">
    <h3>Ingreso De Datos de Paciente</h3>
  <div class="formulario-contenedor">
    <form>
      <mat-form-field>
        <input matInput placeholder="Nombre" name="nombre" [(ngModel)]="nombre">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Edad" name="edad" [(ngModel)]="edad">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="N° Historia Clínica" name="historiaClinica" [(ngModel)]="historiaClinica">
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Hospital" name="idHospital" [(ngModel)]="idHospital">
          <mat-option [value]=1>Hospital 1</mat-option>
          <mat-option [value]=2>Hospital 2</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Relación Peso-Estatura" name="pesoEstatura" [(ngModel)]="pesoEstatura">
          <mat-option [value]=1>1</mat-option>
          <mat-option [value]=2>2</mat-option>
          <mat-option [value]=3>3</mat-option>
          <mat-option [value]=4>4</mat-option>
        </mat-select>
      </mat-form-field>
      
      <mat-checkbox name="dieta" [(ngModel)]="dieta">¿Tiene Dieta?</mat-checkbox>
      
      <mat-checkbox name="fuma" [(ngModel)]="fuma">¿Fuma?</mat-checkbox>

      <mat-form-field>
        <input matInput placeholder="Años fumando" name="aniosFumando" [(ngModel)]="aniosFumando">
      </mat-form-field>
    </form>
    <button id="ingresar-btn" mat-button (click)="ingresarPaciente()">INGRESAR</button>
  </div>
</div>
