#ingreso-paciente-contenedor {
    /*width: 1050px;*/
    padding: 0 10px;
    margin-left: 50px;
}
.formulario-contenedor {
    display: flex;
    flex-direction: column;
  }
.formulario-contenedor > * {
    width: 100%;
}
form {
    display: inline-flex;
    flex-direction: column;
}
#ingresar-btn {
    background-color: lightblue;
}