/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
* {
    font-family: 'Roboto', sans-serif;
}
body {
    margin: 0;
}

#contenedor-ppal {
    display: flex;
}

.linea-division-horizontal {
    border: 1px solid gray;
}
